* {box-sizing:border-box}

h1 {
    text-align: center;
    color: #7cc9d9;
    text-shadow: 1px 1px rgba(73, 70, 70, 0.486);
    font-size: 45px;
}

p {
    text-align: center;
    color:  rgb(34, 33, 33);
    font-size: 18px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: rgb(34, 33, 33);
  font-weight: bold;
  font-size: 30px;
  /* text-shadow: px 2px white; */
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /* background-color: rgba(0,0,0,0.8); */
  background-color: rgba(243, 234, 234, 0.5);
}

/* Caption text */
.text {
  color: rgb(15, 15, 15);
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color:  rgba(243, 234, 234, 0.8);
  margin-bottom: -5px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.intro p {
    padding-bottom: 2.5%;
}

/* Media Queries */
/* tablet landscape */
@media screen and (max-width: 1060px) {
    #primary { 
        width: 67%; 
    }
    #secondary {
        width: 30%; 
        margin-left: 3%;
    }
}

@media screen and (max-width: 768px) {
    #primary {
        width: 100%; 
    }
    #secondary {
        width: 100%; 
        margin:0; 
        border: none;
    }
}

@media screen and (max-width: 640px) {
    .text {
        font-size:12px;
        position: relative;
        margin-top: 2.5px;
    }
}
